html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


@font-face{ 
	font-family: 'digital-7';
	src:
        url(./fonts/digital-7\ \(mono\).ttf);
}

#calc {
    width: 500px;
    height: auto;
    background-image: url(./images/stainSteel.jpeg);
    background-size: cover;
    border: 1px solid rgb(119, 116, 116);
    border-radius: 20px;
    box-shadow: 1px 1px 1px rgb(102, 101, 101);

}

#header {
   display: flex;
   justify-content: center;
   align-items: center;
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 20px;
    background-color: rgb(163, 163, 163);
}

#lcd {
    width: 310px;
    height: 50px;
    flex: auto;
    background: linear-gradient(135deg, white, rgba(247, 244, 244, 0.733) 90%);
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

#display {
    font-family: 'digital-7', 'Times New Roman';
    font-size:42px;
    height: 42px;
    margin-top: 5px;
    margin-left: auto;
    text-align: center;
}   

#solarSect {
    display: flex;
    width: auto;
    height: 100px;
    align-items: center;
    border: 1px solid rgb(83, 80, 80);
    justify-content: space-around;
    background: linear-gradient(to left, rgb(122, 69, 25), rgba(126, 76, 60, 0.733), rgb(122, 69, 25));
}

#solar {
    display: flex;
}

.solCell {
    flex: auto;
    height: 70px;
    width: 70px;
    border: 2px solid rgba(15, 7, 6, 0.377);
    background: linear-gradient( to right bottom, rgba(63, 24, 18, 0.377) 20%, rgb(63, 24, 18));
}

#body {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 500px;
    padding: 40px 40px 50px 40px;
}

.col {
    flex: auto;
    display: flex;
    flex-direction: column;
}

button {
    margin: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18px;
    flex: 1;
    border: 2px solid rgb(22, 22, 22);
    border-bottom-width: 3px;
    border-right-width: 3px;
    border-radius: 15px;
    background: linear-gradient(to right, #ffffff00, #ffffff60, #ffffff00);
}

.num {
    background-color: hsl(200, 80%, 75%);
}

.func {
    background-color: orange;
}

#enter {
    background-color: orangered;
}
#ac {
    background-color: aliceblue;
}